*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  background-color: hsl(34, 12%, 98%);
  font-size: 125%;
  height: 100%;

  --banner: "English Textura A", "English Textura B", fantasy;
  --text: "Mercury SSm A", "Mercury SSm B", Georgia, serif;
}

@media screen and (max-width: 720px) {
  :root {
    font-size: 112.5%;
  }
}

body {
  color: hsl(32, 73%, 7%);
  font-family: var(--text);
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  line-height: 1.5;
  margin: 0;
  padding: 1.5rem;
  text-size-adjust: 100%;
}

body > header {
  font-family: var(--banner);
  font-size: 3rem;
  font-variant-ligatures: discretionary-ligatures;
  line-height: 1;
  text-align: center;
}

main,
body > footer {
  margin: 0 auto;
  max-width: 70ch;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
}

h1, p, header, footer {
  margin: 0 0 1.5rem;
}

main > footer {
  font-style: italic;
  text-align: right;
}

body > footer > p {
  font-size: .75rem;
  line-height: 2;
}
