<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1">
  <meta name="description" content="{{ metadata.description }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title>drasty.com</title>
  <link rel="stylesheet" href="{{ '/css/common.css' | url }}">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/img/ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/ico/favicon-16x16.png">
  <link rel="icon" type="image/svg+xml" href="/img/ico/favicon.svg">
</head>
<body>
  <header lang="enm" role="banner">{{ metadata.title }}</header>
  <main>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  {% if date %}
    <footer>— <time datetime="{{ date | isoDate }}">{{ date | readableDate }}</time></footer>
  {% endif %}
  </main>
  <footer role="contentinfo">
    <p>Copyright © 2020 Erik Vorhes, licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a> and hosted on <a href="https://www.netlify.com/">Netlify</a>.</p>
  </footer>
</body>
</html>
